@page
@inject IAppUserManager UserManager
@using global::GetChain.Core.User
@model DashboardModel

@{
    ViewData["Title"] = "Dashboard";
    
    var user = await UserManager.GetUserByIdAsync(this.User.GetUniqueId());
}

<script>
    window.addEventListener("load", () => {
        new ClipboardJS('.btn');
    });
</script>

<div>
    <h2 class="text-center mt-3">Welcome to your dashboard, @(user.UserName).</h2>

    <div class="row mt-5">
        <div class="col-3">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">API Keys</a>
                <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Profile</a>
                <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Settings</a>
            </div>
        </div>
        <div class="col-9">
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">

                    @* API Keys tab *@
                    
                    <h4>My API Keys</h4>
                    <a asp-page="CreateAPIKey">
                        <button class="btn btn-primary my-3">Create API Key</button>
                    </a>

                    @if ( user.ApiKeys == null || user.ApiKeys.Count == 0 ) {
                        <div>
                            <p class="font-weight-light text-center">No API keys</p>
                        </div>
                    } else {
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Key Name</th>
                                <th scope="col">Key Value</th>
                                <th scope="col">Expires</th>
                                <th scope="col">Functions</th>
                            </tr>
                            </thead>
                            <tbody>

                            @for ( var i = 0; i < user.ApiKeys.Count; i++ ) {
                                var key = user.ApiKeys[i];
                                var id = i.ToString();

                                <tr>
                                    <th scope="row">@id</th>
                                    <td>@key.Name</td>
                                    <td id="apiKeyValue-@id" class="overflow-hidden" style="max-width: 150px; text-overflow: ellipsis">@key.Key</td>
                                    <td>@key.Expires</td>
                                    <td>
                                        <div class="d-flex">
                                            <!-- Trigger -->
                                            <button class="btn btn-primary mr-1" data-clipboard-target="#apiKeyValue-@id"><i class="far fa-copy"></i></button>
                                            <form asp-page-handler="DeleteApiKey" asp-route-key="@key.Key" method="post">
                                                <button class="btn btn-danger"><i class="far fa-trash-alt"></i></button>
                                            </form>
                                        </div>
                                    </td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    }
                    
                    <p class="font-weight-light"><a href="/api/v1">Click here</a> for documentation.</p>
                </div>
                <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">...</div>
                <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">...</div>
            </div>
        </div>
    </div>
</div>